/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
}

.calc-app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calc-wrapper {
    display: flex;
    flex-direction: column;
}